<nav class="pt-3">
  <ul class="">
    <li class="pb-3">
      <a href="{% url 'chat:create_room' %}"
         data-controller="active-link"
         data-active-link-active-class="underline"
         class="hover:underline">
        Create New Room
      </a>
    </li>
    {% for room in rooms.new %}
    <li class="pb-3 font-bold">
      <a href="{{ room.url }}"
         data-controller="active-link"
         data-active-link-active-class="underline"
         data-active-link-exact
         class="hover:underline">
        #{{ room.name }}
        {% if room.is_mention %}*{% endif %}
      </a>
    </li>
    {% endfor %}

    {% for room in rooms.other %}
    <li class="pb-3">
      <a href="{{ room.url }}"
         data-controller="active-link"
         data-active-link-active-class="underline"
         data-active-link-exact
         class="hover:underline">
        #{{ room.name }}
      </a>
    </li>
    {% endfor %}
  </ul>
</nav>
