{% extends "chat/base.html" %}
{% load account pagination %}

{% block chat_content %}

<h1 class="font-semibold text-xl mb-3">#{{ room.name }}</h1>
{% paginate chat_messages page_size=8 as page_obj %}
{% include "_pagination.html" %}
{% if page_obj.number == 1 %}
<div data-controller="room"
     data-room-id-value="{{ room.id }}"
     data-room-socket-url-value="/ws/chat/{{ room.id }}/">
  {% else %}
  <div>
    {% endif %}

    <div data-room-target="messages">
      {% include "chat/_messages.html" with chat_messages=page_obj.object_list %}
    </div>

    {% if is_member and page_obj.number == 1 %}
    <form class="flex items-center mb-3"
          data-action="room#submit">
      {% csrf_token %}
      <input type="text"
             name="text"
             placeholder="Write your message..."
             required
             data-room-target="input"
             class="mr-3 w-full">
      <button class="rounded bg-blue-800 hover:bg-blue-600 px-3 py-2 text-white">Send</button>
    </form>
    {% endif %}
  </div>
  {% endblock chat_content %}
