{% extends "chat/base.html" %}
{% load account pagination %}

{% block chat_content %}

<h1 class="font-semibold text-xl mb-3">#{{ room.name }}</h1>
{% paginate chat_messages page_size=page_size as page_obj %}
{% include "_pagination.html" with css_class="pb-3 border-b" %}

{% if page_obj.number == 1 %}
<div data-controller="socket"
     data-socket-url-value="ws://localhost/ws/chat/">
  {% else %}
  <div>
    {% endif %}
    <div id="messages">
      {% for message in chat_messages reversed %}
      {% include "chat/_message.html" %}
      {% endfor %}
    </div>
  </div>

  {% if page_obj.number == 1 %}
  <form class="flex items-center mt-6"
        method="post"
        data-controller="form"
        data-action="form#submit form#reset"
        action="{% url 'chat:send_message' room.id %}">
    {% csrf_token %}
    <input type="text"
           name="text"
           placeholder="Write your message..."
           required
           autocomplete="off"
           class="mr-3 w-full">
    <button class="rounded bg-blue-800 hover:bg-blue-600 px-3 py-2 text-white">Send</button>
  </form>
  {% endif %}
</div>
{% endblock chat_content %}
