{% extends "chat/base.html" %}
{% load account chat pagination %}

{% block chat_content %}
{% if search %}
<h1 class="text-xl font-bold mb-3 pb-1 border-b">Search for "{{ search }}"</h1>
{% endif %}
{% paginate chat_messages page_size=12 as page_obj %}
{% regroup page_obj.object_list by room as message_list %}
{% for item in message_list %}
<div class="mb-1 border-b">
  <h2 class="text-lg font-semibold">
    <a href="{{ item.grouper.get_absolute_url }}"
       class="text-blue-800 hover:text-blue-600">
      {{ item.grouper.name }}
    </a>
  </h2>
  {% for message in item.list %}
  <div class="py-1 w-full{% if not forloop.last %} border-b{% endif %}">
    <div class="flex items-center justify-between">
      <div class="mr-2 font-semibold{% if message.sender == user %} text-purple-600{% endif %}">
        {% user_display message.sender %}
      </div>
      <div class="text-sm text-gray-500">{{ message.created|date:"H:i d.m" }}</div>
    </div>
    <div class="markdown">
      {{ message.text|as_markdown }}
    </div>
  </div>
  {% endfor %}
</div>
{% endfor %}
{% include "_pagination.html" %}
{% endblock chat_content %}
