{% extends "chat/base.html" %}
{% block chat_content %}
{% load account chat %}
{% if search %}
<h1 class="text-xl font-bold mb-3">Search for "{{ search }}"</h1>
{% endif %}
{% regroup chat_messages by room as message_list %}
{% for room in message_list %}
<div class="mb-3 border-b">
  <h2 class="text-lg font-semibold">
    <a href="{{ room.grouper.get_absolute_url }}"
       class="text-blue-800 hover:text-blue-600">
      {{ room.grouper.name }}
    </a>
  </h2>
  {% for message in room.list %}
  <div class="py-3 w-full{% if not forloop.last %} border-b{% endif %}">
    <div class="flex items-center justify-between mb-3">
      <div class="mr-2 font-semibold{% if message.sender == user %} text-purple-600{% endif %}">
        {% user_display message.sender %}
      </div>
      <div class="text-sm text-gray-500">{{ message.created|date:"H:i d.m" }}</div>
    </div>
    <div class="markdown">
      {{ message.text|as_markdown }}
    </div>
  </div>
  {% endfor %}
</div>
{% endfor %}
{% endblock chat_content %}
